body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u69 {
  position:absolute;
  left:0px;
  top:667px;
  width:375px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:668px;
}
#u71 {
  position:absolute;
  left:375px;
  top:0px;
  width:1px;
  height:667px;
}
#u72 {
  position:absolute;
  left:2px;
  top:326px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u74 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:0px;
  top:17px;
  width:76px;
  height:42px;
}
#u76 {
  position:absolute;
  left:2px;
  top:13px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
